.copy {
  padding-bottom: 20px;
  li {
    display: block;
    @media (min-width: $screen-sm-min) {
      display: inline-block;
    }
  }
  &__item {
    color: rgba(#fff, .8);
    display: block !important;
    padding-top: 20px;
    padding-bottom: 20px;  
    @media (min-width: $screen-sm-min) {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 40px;
      &::before {
        content: '| ';
        color: rgba(#fff, .2);
        padding-right: 30px;
      }
    }
    
    &:hover {
      text-decoration: none;
      color: #fff;
    }
    
    &--first {
      color: rgba(#fff, .2);
      padding-left: 0;
      
      &::before {
        content: none;
      }
    }
  }
}
