.logo {
  margin-top: 80px;
  line-height: 2.9em;
  border-right: 1px solid #D9DDE0;
  border-left: 1px solid #D9DDE0;
  
  &__line1, &__line2, &__line3, &__portland {
    display: block;
    text-transform: uppercase;
    text-align: right;
    font-size: 50px;
    max-width: 180px;
    margin: 0 auto;
  }
  
  &__line1, &__line2, &__line3 {
    color: #132530;
  }
  
  &__line1 {
    padding-right: 16px;
  }
  
  &__line2 {
    padding-right: 8px;
  }
  
  &__line3 {
    padding-right: 0;
  }
  
  &__portland {
    color: $yellow;
    font-size: 27px;
    padding-top: 15px;
    padding-right: 8px;
  }
}
